# Pandas : load, prepare, manipulate, model, and analyze.

In [6]:
import pandas as pd
import numpy as np
animals = ['Lion','Tiger','Deer']
pd.Series(animals)

0     Lion
1    Tiger
2     Deer
dtype: object


## Series is size immutable. Data frames are size mutable. All Data structures in pandas are value mutable.

In [50]:
#series contains homogenous data.
numbers = [1, 2, 3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [52]:
data = np.array(['a','b','c','d'])
s = pd.Series(data,index=[100,101,102,103])
print(s)

100    a
101    b
102    c
103    d
dtype: object

In [5]:
#creating series from dictionary. keys are used as index here.
data = {'a' : 0., 'b' : 1., 'c' : 2.}
s = pd.Series(data)
print(s)

a    0.0
b    1.0
c    2.0
dtype: float64

In [5]:
animals = ['Tiger', 'Bear', None]
pd.Series(animals)

0    Tiger
1     Bear
2     None
dtype: object

In [6]:
numbers = [1, 2, None]
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [7]:
import numpy as np
np.nan == None

False

In [8]:
np.nan == np.nan

False

In [9]:
np.isnan(np.nan)

True

In [8]:
s = pd.Series(['India', 'America', 'Canada'], index=['Tiger', 'Bear', 'Moose'])
s

Tiger      India
Bear     America
Moose     Canada
dtype: object

In [10]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports, index=['Golf', 'Sumo', 'Hockey'])
s

Golf      Scotland
Sumo         Japan
Hockey         NaN
dtype: object

# Querying

In [12]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [16]:
s.iloc[2] #integer index location

'Japan'

In [14]:
s.loc['Golf'] # index based on the element.

'Scotland'

In [14]:
s[3]

KeyError: 3

In [15]:
s['Golf']

KeyError: 'Golf'

In [17]:
original_sports = pd.Series({'Archery': 'Bhutan',
                             'Golf': 'Scotland',
                             'Sumo': 'Japan',
                             'Taekwondo': 'South Korea'})
cricket_loving_countries = pd.Series(['Australia',
                                      'Barbados',
                                      'Pakistan',
                                      'England'], 
                                   index=['Cricket',
                                          'Cricket',
                                          'Cricket',
                                          'Cricket'])
all_countries = original_sports.append(cricket_loving_countries)

In [20]:
original_sports

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [19]:
cricket_loving_countries

Cricket    Australia
Cricket     Barbados
Cricket     Pakistan
Cricket      England
dtype: object

In [20]:
all_countries

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
Cricket        Australia
Cricket         Barbados
Cricket         Pakistan
Cricket          England
dtype: object

In [21]:
all_countries.loc['Cricket']

Cricket    Australia
Cricket     Barbados
Cricket     Pakistan
Cricket      England
dtype: object

In [24]:
sports = {99: 'Bhutan',
          100: 'Scotland',
          101: 'Japan',
          102: 'South Korea'}
s = pd.Series(sports)
s.loc[99] #throiws an error.

'Bhutan'

# Data Frames

In [26]:
import pandas as pd
#creating datafreame from a list
data = [1,2,3,4,5]
df = pd.DataFrame(data,columns=['value'])
print(df)

#creating data frame from list of lists.
data = [['Arjun',10],['Kiran',12],['Vinay',13]]
df = pd.DataFrame(data,columns=['Name','Age'],dtype=float)
print(df)

#creating dataframe using arrays
data = {'Name':['Arjun', 'Kiran', 'John', 'Ansal'],'Age':[28,30,32,34]}
df = pd.DataFrame(data)
print(df)

#creating data frame from list of dictionaris
data = [{'a': 1, 'b': 2},{'a': 20, 'b': 20, 'c': 30}]
df = pd.DataFrame(data, index=['One', 'Two'])
print(df)

   value
0      1
1      2
2      3
3      4
4      5
    Name   Age
0  Arjun  10.0
1  Kiran  12.0
2  Vinay  13.0
    Name  Age
0  Arjun   28
1  Kiran   30
2   John   32
3  Ansal   34
      a   b     c
One   1   2   NaN
Two  20  20  30.0

In [28]:
#creating data frame from dictionary of series
data = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(data)
print(df)

print(df['one']) #column selection



# Adding a new column to an existing DataFrame object with column label by passing new series

print ("Adding a new column by passing as Series:")
df['three']=pd.Series([10,20,30],index=['a','b','c'])


print ("Adding a new column using the existing columns in DataFrame:")
df['four']=df['one']+df['three']

print("After adding 2 new columns")
print(df)

print ("Deleting the first column using DEL function:")
del df['one']
print(df)

# using pop function
print ("Deleting another column using POP function:")
df.pop('two')
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4
a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64
Adding a new column by passing as Series:
Adding a new column using the existing columns in DataFrame:
After adding 2 new columns
   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3   30.0  33.0
d  NaN    4    NaN   NaN
Deleting the first column using DEL function:
   two  three  four
a    1   10.0  11.0
b    2   20.0  22.0
c    3   30.0  33.0
d    4    NaN   NaN
Deleting another column using POP function:
   three  four
a   10.0  11.0
b   20.0  22.0
c   30.0  33.0
d    NaN   NaN

In [29]:
#DataFrame is a two-dimensional array with heterogeneous data. 
import pandas as pd
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})
df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 2', 'Store 3'])
df.head()

          Name Item Purchased  Cost
Store 1  Chris       Dog Food  22.5
Store 2  Kevyn   Kitty Litter   2.5
Store 3  Vinod      Bird Seed   5.0

In [30]:
df.loc['Store 2']

Name                     Kevyn
Item Purchased    Kitty Litter
Cost                       2.5
Name: Store 2, dtype: object

In [32]:
df.iloc['Store 1']

Name                     Kevyn
Item Purchased    Kitty Litter
Cost                       2.5
Name: Store 2, dtype: object

In [33]:
df.T

                 Store 1       Store 2    Store 3
Name               Chris         Kevyn      Vinod
Item Purchased  Dog Food  Kitty Litter  Bird Seed
Cost                22.5           2.5          5

In [30]:
df['Cost']

Store 1    22.5
Store 1     2.5
Store 2     5.0
Name: Cost, dtype: float64

In [34]:
df.loc['Store 1']['Cost']

22.5

In [35]:
df.loc[:,['Name', 'Cost']]

          Name  Cost
Store 1  Chris  22.5
Store 2  Kevyn   2.5
Store 3  Vinod   5.0

In [36]:
df.drop('Store 1')

          Name Item Purchased  Cost
Store 2  Kevyn   Kitty Litter   2.5
Store 3  Vinod      Bird Seed   5.0

In [37]:
df

          Name Item Purchased  Cost
Store 1  Chris       Dog Food  22.5
Store 2  Kevyn   Kitty Litter   2.5
Store 3  Vinod      Bird Seed   5.0

In [39]:
copydf=df.drop('Store 1')

In [40]:
copydf

          Name Item Purchased  Cost
Store 2  Kevyn   Kitty Litter   2.5
Store 3  Vinod      Bird Seed   5.0

In [49]:
df = pd.read_csv(r'\Users\kanch\Desktop\PSG-Workshop\Day-2-Pandas\kc_house_data.csv', index_col=0)
df.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
id,,,,,,,,,,,,,,,,,,,,
7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [50]:
df.columns

Index(['date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long',
       'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [51]:
df.axes

[Int64Index([7129300520, 6414100192, 5631500400, 2487200875, 1954400510,
             7237550310, 1321400060, 2008000270, 2414600126, 3793500160,
             ...
             7852140040, 9834201367, 3448900210, 7936000429, 2997800021,
              263000018, 6600060120, 1523300141,  291310100, 1523300157],
            dtype='int64', name='id', length=21613),
 Index(['date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
        'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above',
        'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long',
        'sqft_living15', 'sqft_lot15'],
       dtype='object')]

In [52]:
df['bedrooms'] > 2

id
7129300520     True
6414100192     True
5631500400    False
2487200875     True
1954400510     True
7237550310     True
1321400060     True
2008000270     True
2414600126     True
3793500160     True
1736800520     True
9212900260    False
114101516      True
6054650070     True
1175000570     True
9297300055     True
1875500060     True
6865200140     True
16000397      False
7983200060     True
6300500875     True
2524049179     True
7137970340     True
8091400200    False
3814700200     True
1202000200     True
1794500383     True
3303700376     True
5101402488     True
1873100390     True
              ...
2025049203    False
952006823      True
3832050760     True
2767604724    False
6632300207     True
2767600688    False
7570050450     True
7430200100     True
4140940150     True
1931300412     True
8672200110     True
5087900040     True
1972201967    False
7502800100     True
191100405      True
8956200760     True
7202300110     True
249000205      True
5100403806     True
844000965      True
7852140040     True
9834201367     True
3448900210     True
7936000429     True
2997800021     True
263000018      True
6600060120     True
1523300141    False
291310100      True
1523300157    False
Name: bedrooms, Length: 21613, dtype: bool

In [53]:
villas = df.where(df['bedrooms'] >=2)
villas

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
id,,,,,,,,,,,,,,,,,,,,
7129300520,20141013T000000,221900.0,3.0,1.00,1180.0,5650.0,1.0,0.0,0.0,3.0,7.0,1180.0,0.0,1955.0,0.0,98178.0,47.5112,-122.257,1340.0,5650.0
6414100192,20141209T000000,538000.0,3.0,2.25,2570.0,7242.0,2.0,0.0,0.0,3.0,7.0,2170.0,400.0,1951.0,1991.0,98125.0,47.7210,-122.319,1690.0,7639.0
5631500400,20150225T000000,180000.0,2.0,1.00,770.0,10000.0,1.0,0.0,0.0,3.0,6.0,770.0,0.0,1933.0,0.0,98028.0,47.7379,-122.233,2720.0,8062.0
2487200875,20141209T000000,604000.0,4.0,3.00,1960.0,5000.0,1.0,0.0,0.0,5.0,7.0,1050.0,910.0,1965.0,0.0,98136.0,47.5208,-122.393,1360.0,5000.0
1954400510,20150218T000000,510000.0,3.0,2.00,1680.0,8080.0,1.0,0.0,0.0,3.0,8.0,1680.0,0.0,1987.0,0.0,98074.0,47.6168,-122.045,1800.0,7503.0
7237550310,20140512T000000,1225000.0,4.0,4.50,5420.0,101930.0,1.0,0.0,0.0,3.0,11.0,3890.0,1530.0,2001.0,0.0,98053.0,47.6561,-122.005,4760.0,101930.0
1321400060,20140627T000000,257500.0,3.0,2.25,1715.0,6819.0,2.0,0.0,0.0,3.0,7.0,1715.0,0.0,1995.0,0.0,98003.0,47.3097,-122.327,2238.0,6819.0
2008000270,20150115T000000,291850.0,3.0,1.50,1060.0,9711.0,1.0,0.0,0.0,3.0,7.0,1060.0,0.0,1963.0,0.0,98198.0,47.4095,-122.315,1650.0,9711.0
2414600126,20150415T000000,229500.0,3.0,1.00,1780.0,7470.0,1.0,0.0,0.0,3.0,7.0,1050.0,730.0,1960.0,0.0,98146.0,47.5123,-122.337,1780.0,8113.0
3793500160,20150312T000000,323000.0,3.0,2.50,1890.0,6560.0,2.0,0.0,0.0,3.0,7.0,1890.0,0.0,2003.0,0.0,98038.0,47.3684,-122.031,2390.0,7570.0
1736800520,20150403T000000,662500.0,3.0,2.50,3560.0,9796.0,1.0,0.0,0.0,3.0,8.0,1860.0,1700.0,1965.0,0.0,98007.0,47.6007,-122.145,2210.0,8925.0
9212900260,20140527T000000,468000.0,2.0,1.00,1160.0,6000.0,1.0,0.0,0.0,4.0,7.0,860.0,300.0,1942.0,0.0,98115.0,47.6900,-122.292,1330.0,6000.0
114101516,20140528T000000,310000.0,3.0,1.00,1430.0,19901.0,1.5,0.0,0.0,4.0,7.0,1430.0,0.0,1927.0,0.0,98028.0,47.7558,-122.229,1780.0,12697.0
6054650070,20141007T000000,400000.0,3.0,1.75,1370.0,9680.0,1.0,0.0,0.0,4.0,7.0,1370.0,0.0,1977.0,0.0,98074.0,47.6127,-122.045,1370.0,10208.0
1175000570,20150312T000000,530000.0,5.0,2.00,1810.0,4850.0,1.5,0.0,0.0,3.0,7.0,1810.0,0.0,1900.0,0.0,98107.0,47.6700,-122.394,1360.0,4850.0
9297300055,20150124T000000,650000.0,4.0,3.00,2950.0,5000.0,2.0,0.0,3.0,3.0,9.0,1980.0,970.0,1979.0,0.0,98126.0,47.5714,-122.375,2140.0,4000.0
1875500060,20140731T000000,395000.0,3.0,2.00,1890.0,14040.0,2.0,0.0,0.0,3.0,7.0,1890.0,0.0,1994.0,0.0,98019.0,47.7277,-121.962,1890.0,14018.0
6865200140,20140529T000000,485000.0,4.0,1.00,1600.0,4300.0,1.5,0.0,0.0,4.0,7.0,1600.0,0.0,1916.0,0.0,98103.0,47.6648,-122.343,1610.0,4300.0
16000397,20141205T000000,189000.0,2.0,1.00,1200.0,9850.0,1.0,0.0,0.0,4.0,7.0,1200.0,0.0,1921.0,0.0,98002.0,47.3089,-122.210,1060.0,5095.0
7983200060,20150424T000000,230000.0,3.0,1.00,1250.0,9774.0,1.0,0.0,0.0,4.0,7.0,1250.0,0.0,1969.0,0.0,98003.0,47.3343,-122.306,1280.0,8850.0
6300500875,20140514T000000,385000.0,4.0,1.75,1620.0,4980.0,1.0,0.0,0.0,4.0,7.0,860.0,760.0,1947.0,0.0,98133.0,47.7025,-122.341,1400.0,4980.0
2524049179,20140826T000000,2000000.0,3.0,2.75,3050.0,44867.0,1.0,0.0,4.0,3.0,9.0,2330.0,720.0,1968.0,0.0,98040.0,47.5316,-122.233,4110.0,20336.0
7137970340,20140703T000000,285000.0,5.0,2.50,2270.0,6300.0,2.0,0.0,0.0,3.0,8.0,2270.0,0.0,1995.0,0.0,98092.0,47.3266,-122.169,2240.0,7005.0
8091400200,20140516T000000,252700.0,2.0,1.50,1070.0,9643.0,1.0,0.0,0.0,3.0,7.0,1070.0,0.0,1985.0,0.0,98030.0,47.3533,-122.166,1220.0,8386.0
3814700200,20141120T000000,329000.0,3.0,2.25,2450.0,6500.0,2.0,0.0,0.0,4.0,8.0,2450.0,0.0,1985.0,0.0,98030.0,47.3739,-122.172,2200.0,6865.0
1202000200,20141103T000000,233000.0,3.0,2.00,1710.0,4697.0,1.5,0.0,0.0,5.0,6.0,1710.0,0.0,1941.0,0.0,98002.0,47.3048,-122.218,1030.0,4705.0
1794500383,20140626T000000,937000.0,3.0,1.75,2450.0,2691.0,2.0,0.0,0.0,3.0,8.0,1750.0,700.0,1915.0,0.0,98119.0,47.6386,-122.360,1760.0,3573.0
3303700376,20141201T000000,667000.0,3.0,1.00,1400.0,1581.0,1.5,0.0,0.0,5.0,8.0,1400.0,0.0,1909.0,0.0,98112.0,47.6221,-122.314,1860.0,3861.0
5101402488,20140624T000000,438000.0,3.0,1.75,1520.0,6380.0,1.0,0.0,0.0,3.0,7.0,790.0,730.0,1948.0,0.0,98115.0,47.6950,-122.304,1520.0,6235.0
1873100390,20150302T000000,719000.0,4.0,2.50,2570.0,7173.0,2.0,0.0,0.0,3.0,8.0,2570.0,0.0,2005.0,0.0,98052.0,47.7073,-122.110,2630.0,6026.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025049203,20140610T000000,399950.0,2.0,1.00,710.0,1157.0,2.0,0.0,0.0,4.0,7.0,710.0,0.0,1943.0,0.0,98102.0,47.6413,-122.329,1370.0,1173.0
952006823,20141202T000000,380000.0,3.0,2.50,1260.0,900.0,2.0,0.0,0.0,3.0,7.0,940.0,320.0,2007.0,0.0,98116.0,47.5621,-122.384,1310.0,1415.0
3832050760,20140828T000000,270000.0,3.0,2.50,1870.0,5000.0,2.0,0.0,0.0,3.0,7.0,1870.0,0.0,2009.0,0.0,98042.0,47.3339,-122.055,2170.0,5399.0
2767604724,20141015T000000,505000.0,2.0,2.50,1430.0,1201.0,3.0,0.0,0.0,3.0,8.0,1430.0,0.0,2009.0,0.0,98107.0,47.6707,-122.381,1430.0,1249.0
6632300207,20150305T000000,385000.0,3.0,2.50,1520.0,1488.0,3.0,0.0,0.0,3.0,8.0,1520.0,0.0,2006.0,0.0,98125.0,47.7337,-122.309,1520.0,1497.0
2767600688,20141113T000000,414500.0,2.0,1.50,1210.0,1278.0,2.0,0.0,0.0,3.0,8.0,1020.0,190.0,2007.0,0.0,98117.0,47.6756,-122.375,1210.0,1118.0
7570050450,20140910T000000,347500.0,3.0,2.50,2540.0,4760.0,2.0,0.0,0.0,3.0,8.0,2540.0,0.0,2010.0,0.0,98038.0,47.3452,-122.022,2540.0,4571.0
7430200100,20140514T000000,1222500.0,4.0,3.50,4910.0,9444.0,1.5,0.0,0.0,3.0,11.0,3110.0,1800.0,2007.0,0.0,98074.0,47.6502,-122.066,4560.0,11063.0
4140940150,20141002T000000,572000.0,4.0,2.75,2770.0,3852.0,2.0,0.0,0.0,3.0,8.0,2770.0,0.0,2014.0,0.0,98178.0,47.5001,-122.232,1810.0,5641.0
1931300412,20150416T000000,475000.0,3.0,2.25,1190.0,1200.0,3.0,0.0,0.0,3.0,8.0,1190.0,0.0,2008.0,0.0,98103.0,47.6542,-122.346,1180.0,1224.0
8672200110,20150317T000000,1088000.0,5.0,3.75,4170.0,8142.0,2.0,0.0,2.0,3.0,10.0,4170.0,0.0,2006.0,0.0,98056.0,47.5354,-122.181,3030.0,7980.0
5087900040,20141017T000000,350000.0,4.0,2.75,2500.0,5995.0,2.0,0.0,0.0,3.0,8.0,2500.0,0.0,2008.0,0.0,98042.0,47.3749,-122.107,2530.0,5988.0
1972201967,20141031T000000,520000.0,2.0,2.25,1530.0,981.0,3.0,0.0,0.0,3.0,8.0,1480.0,50.0,2006.0,0.0,98103.0,47.6533,-122.346,1530.0,1282.0
7502800100,20140813T000000,679950.0,5.0,2.75,3600.0,9437.0,2.0,0.0,0.0,3.0,9.0,3600.0,0.0,2014.0,0.0,98059.0,47.4822,-122.131,3550.0,9421.0
191100405,20150421T000000,1575000.0,4.0,3.25,3410.0,10125.0,2.0,0.0,0.0,3.0,10.0,3410.0,0.0,2007.0,0.0,98040.0,47.5653,-122.223,2290.0,10125.0
8956200760,20141013T000000,541800.0,4.0,2.50,3118.0,7866.0,2.0,0.0,2.0,3.0,9.0,3118.0,0.0,2014.0,0.0,98001.0,47.2931,-122.264,2673.0,6500.0
7202300110,20140915T000000,810000.0,4.0,3.00,3990.0,7838.0,2.0,0.0,0.0,3.0,9.0,3990.0,0.0,2003.0,0.0,98053.0,47.6857,-122.046,3370.0,6814.0
249000205,20141015T000000,1537000.0,5.0,3.75,4470.0,8088.0,2.0,0.0,0.0,3.0,11.0,4470.0,0.0,2008.0,0.0,98004.0,47.6321,-122.200,2780.0,8964.0
5100403806,20150407T000000,467000.0,3.0,2.50,1425.0,1179.0,3.0,0.0,0.0,3.0,8.0,1425.0,0.0,2008.0,0.0,98125.0,47.6963,-122.318,1285.0,1253.0
844000965,20140626T000000,224000.0,3.0,1.75,1500.0,11968.0,1.0,0.0,0.0,3.0,6.0,1500.0,0.0,2014.0,0.0,98010.0,47.3095,-122.002,1320.0,11303.0
7852140040,20140825T000000,507250.0,3.0,2.50,2270.0,5536.0,2.0,0.0,0.0,3.0,8.0,2270.0,0.0,2003.0,0.0,98065.0,47.5389,-121.881,2270.0,5731.0
9834201367,20150126T000000,429000.0,3.0,2.00,1490.0,1126.0,3.0,0.0,0.0,3.0,8.0,1490.0,0.0,2014.0,0.0,98144.0,47.5699,-122.288,1400.0,1230.0
3448900210,20141014T000000,610685.0,4.0,2.50,2520.0,6023.0,2.0,0.0,0.0,3.0,9.0,2520.0,0.0,2014.0,0.0,98056.0,47.5137,-122.167,2520.0,6023.0
7936000429,20150326T000000,1007500.0,4.0,3.50,3510.0,7200.0,2.0,0.0,0.0,3.0,9.0,2600.0,910.0,2009.0,0.0,98136.0,47.5537,-122.398,2050.0,6200.0
2997800021,20150219T000000,475000.0,3.0,2.50,1310.0,1294.0,2.0,0.0,0.0,3.0,8.0,1180.0,130.0,2008.0,0.0,98116.0,47.5773,-122.409,1330.0,1265.0
263000018,20140521T000000,360000.0,3.0,2.50,1530.0,1131.0,3.0,0.0,0.0,3.0,8.0,1530.0,0.0,2009.0,0.0,98103.0,47.6993,-122.346,1530.0,1509.0
6600060120,20150223T000000,400000.0,4.0,2.50,2310.0,5813.0,2.0,0.0,0.0,3.0,8.0,2310.0,0.0,2014.0,0.0,98146.0,47.5107,-122.362,1830.0,7200.0
1523300141,20140623T000000,402101.0,2.0,0.75,1020.0,1350.0,2.0,0.0,0.0,3.0,7.0,1020.0,0.0,2009.0,0.0,98144.0,47.5944,-122.299,1020.0,2007.0
291310100,20150116T000000,400000.0,3.0,2.50,1600.0,2388.0,2.0,0.0,0.0,3.0,8.0,1600.0,0.0,2004.0,0.0,98027.0,47.5345,-122.069,1410.0,1287.0
1523300157,20141015T000000,325000.0,2.0,0.75,1020.0,1076.0,2.0,0.0,0.0,3.0,7.0,1020.0,0.0,2008.0,0.0,98144.0,47.5941,-122.299,1020.0,1357.0

In [54]:
villas.count() #villas['bedrooms'].count()

date             21401
price            21401
bedrooms         21401
bathrooms        21401
sqft_living      21401
sqft_lot         21401
floors           21401
waterfront       21401
view             21401
condition        21401
grade            21401
sqft_above       21401
sqft_basement    21401
yr_built         21401
yr_renovated     21401
zipcode          21401
lat              21401
long             21401
sqft_living15    21401
sqft_lot15       21401
dtype: int64

In [61]:
df.count()

date             21613
price            21613
bedrooms         21613
bathrooms        21613
sqft_living      21613
sqft_lot         21613
floors           21613
waterfront       21613
view             21613
condition        21613
grade            21613
sqft_above       21613
sqft_basement    21613
yr_built         21613
yr_renovated     21613
zipcode          21613
lat              21613
long             21613
sqft_living15    21613
sqft_lot15       21613
id               21613
dtype: int64

In [37]:
print(df['price'].isnull())

id
7129300520    False
6414100192    False
5631500400    False
2487200875    False
1954400510    False
7237550310    False
1321400060    False
2008000270    False
2414600126    False
3793500160    False
1736800520    False
9212900260    False
114101516     False
6054650070    False
1175000570    False
9297300055    False
1875500060    False
6865200140    False
16000397      False
7983200060    False
6300500875    False
2524049179    False
7137970340    False
8091400200    False
3814700200    False
1202000200    False
1794500383    False
3303700376    False
5101402488    False
1873100390    False
              ...
2025049203    False
952006823     False
3832050760    False
2767604724    False
6632300207    False
2767600688    False
7570050450    False
7430200100    False
4140940150    False
1931300412    False
8672200110    False
5087900040    False
1972201967    False
7502800100    False
191100405     False
8956200760    False
7202300110    False
249000205     False
5100403806    False
844000965     False
7852140040    False
9834201367    False
3448900210    False
7936000429    False
2997800021    False
263000018     False
6600060120    False
1523300141    False
291310100     False
1523300157    False
Name: price, Length: 21613, dtype: bool

In [38]:
df.isna().any() #checks whether any columns are having NaN

date             False
price            False
bedrooms         False
bathrooms        False
sqft_living      False
sqft_lot         False
floors           False
waterfront       False
view             False
condition        False
grade            False
sqft_above       False
sqft_basement    False
yr_built         False
yr_renovated     False
zipcode          False
lat              False
long             False
sqft_living15    False
sqft_lot15       False
dtype: bool

In [39]:
df.isnull().any() #checking for nulls

date             False
price            False
bedrooms         False
bathrooms        False
sqft_living      False
sqft_lot         False
floors           False
waterfront       False
view             False
condition        False
grade            False
sqft_above       False
sqft_basement    False
yr_built         False
yr_renovated     False
zipcode          False
lat              False
long             False
sqft_living15    False
sqft_lot15       False
dtype: bool

In [45]:
new_df = df.drop(['date','view', 'grade'],axis=1)
new_df

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,condition,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
id,,,,,,,,,,,,,,,,,
7129300520,221900.0,3,1.00,1180,5650,1.0,0,3,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
6414100192,538000.0,3,2.25,2570,7242,2.0,0,3,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
5631500400,180000.0,2,1.00,770,10000,1.0,0,3,770,0,1933,0,98028,47.7379,-122.233,2720,8062
2487200875,604000.0,4,3.00,1960,5000,1.0,0,5,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
1954400510,510000.0,3,2.00,1680,8080,1.0,0,3,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
7237550310,1225000.0,4,4.50,5420,101930,1.0,0,3,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930
1321400060,257500.0,3,2.25,1715,6819,2.0,0,3,1715,0,1995,0,98003,47.3097,-122.327,2238,6819
2008000270,291850.0,3,1.50,1060,9711,1.0,0,3,1060,0,1963,0,98198,47.4095,-122.315,1650,9711
2414600126,229500.0,3,1.00,1780,7470,1.0,0,3,1050,730,1960,0,98146,47.5123,-122.337,1780,8113
3793500160,323000.0,3,2.50,1890,6560,2.0,0,3,1890,0,2003,0,98038,47.3684,-122.031,2390,7570
1736800520,662500.0,3,2.50,3560,9796,1.0,0,3,1860,1700,1965,0,98007,47.6007,-122.145,2210,8925
9212900260,468000.0,2,1.00,1160,6000,1.0,0,4,860,300,1942,0,98115,47.6900,-122.292,1330,6000
114101516,310000.0,3,1.00,1430,19901,1.5,0,4,1430,0,1927,0,98028,47.7558,-122.229,1780,12697
6054650070,400000.0,3,1.75,1370,9680,1.0,0,4,1370,0,1977,0,98074,47.6127,-122.045,1370,10208
1175000570,530000.0,5,2.00,1810,4850,1.5,0,3,1810,0,1900,0,98107,47.6700,-122.394,1360,4850
9297300055,650000.0,4,3.00,2950,5000,2.0,0,3,1980,970,1979,0,98126,47.5714,-122.375,2140,4000
1875500060,395000.0,3,2.00,1890,14040,2.0,0,3,1890,0,1994,0,98019,47.7277,-121.962,1890,14018
6865200140,485000.0,4,1.00,1600,4300,1.5,0,4,1600,0,1916,0,98103,47.6648,-122.343,1610,4300
16000397,189000.0,2,1.00,1200,9850,1.0,0,4,1200,0,1921,0,98002,47.3089,-122.210,1060,5095
7983200060,230000.0,3,1.00,1250,9774,1.0,0,4,1250,0,1969,0,98003,47.3343,-122.306,1280,8850
6300500875,385000.0,4,1.75,1620,4980,1.0,0,4,860,760,1947,0,98133,47.7025,-122.341,1400,4980
2524049179,2000000.0,3,2.75,3050,44867,1.0,0,3,2330,720,1968,0,98040,47.5316,-122.233,4110,20336
7137970340,285000.0,5,2.50,2270,6300,2.0,0,3,2270,0,1995,0,98092,47.3266,-122.169,2240,7005
8091400200,252700.0,2,1.50,1070,9643,1.0,0,3,1070,0,1985,0,98030,47.3533,-122.166,1220,8386
3814700200,329000.0,3,2.25,2450,6500,2.0,0,4,2450,0,1985,0,98030,47.3739,-122.172,2200,6865
1202000200,233000.0,3,2.00,1710,4697,1.5,0,5,1710,0,1941,0,98002,47.3048,-122.218,1030,4705
1794500383,937000.0,3,1.75,2450,2691,2.0,0,3,1750,700,1915,0,98119,47.6386,-122.360,1760,3573
3303700376,667000.0,3,1.00,1400,1581,1.5,0,5,1400,0,1909,0,98112,47.6221,-122.314,1860,3861
5101402488,438000.0,3,1.75,1520,6380,1.0,0,3,790,730,1948,0,98115,47.6950,-122.304,1520,6235
1873100390,719000.0,4,2.50,2570,7173,2.0,0,3,2570,0,2005,0,98052,47.7073,-122.110,2630,6026
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025049203,399950.0,2,1.00,710,1157,2.0,0,4,710,0,1943,0,98102,47.6413,-122.329,1370,1173
952006823,380000.0,3,2.50,1260,900,2.0,0,3,940,320,2007,0,98116,47.5621,-122.384,1310,1415
3832050760,270000.0,3,2.50,1870,5000,2.0,0,3,1870,0,2009,0,98042,47.3339,-122.055,2170,5399
2767604724,505000.0,2,2.50,1430,1201,3.0,0,3,1430,0,2009,0,98107,47.6707,-122.381,1430,1249
6632300207,385000.0,3,2.50,1520,1488,3.0,0,3,1520,0,2006,0,98125,47.7337,-122.309,1520,1497
2767600688,414500.0,2,1.50,1210,1278,2.0,0,3,1020,190,2007,0,98117,47.6756,-122.375,1210,1118
7570050450,347500.0,3,2.50,2540,4760,2.0,0,3,2540,0,2010,0,98038,47.3452,-122.022,2540,4571
7430200100,1222500.0,4,3.50,4910,9444,1.5,0,3,3110,1800,2007,0,98074,47.6502,-122.066,4560,11063
4140940150,572000.0,4,2.75,2770,3852,2.0,0,3,2770,0,2014,0,98178,47.5001,-122.232,1810,5641
1931300412,475000.0,3,2.25,1190,1200,3.0,0,3,1190,0,2008,0,98103,47.6542,-122.346,1180,1224
8672200110,1088000.0,5,3.75,4170,8142,2.0,0,3,4170,0,2006,0,98056,47.5354,-122.181,3030,7980
5087900040,350000.0,4,2.75,2500,5995,2.0,0,3,2500,0,2008,0,98042,47.3749,-122.107,2530,5988
1972201967,520000.0,2,2.25,1530,981,3.0,0,3,1480,50,2006,0,98103,47.6533,-122.346,1530,1282
7502800100,679950.0,5,2.75,3600,9437,2.0,0,3,3600,0,2014,0,98059,47.4822,-122.131,3550,9421
191100405,1575000.0,4,3.25,3410,10125,2.0,0,3,3410,0,2007,0,98040,47.5653,-122.223,2290,10125
8956200760,541800.0,4,2.50,3118,7866,2.0,0,3,3118,0,2014,0,98001,47.2931,-122.264,2673,6500
7202300110,810000.0,4,3.00,3990,7838,2.0,0,3,3990,0,2003,0,98053,47.6857,-122.046,3370,6814
249000205,1537000.0,5,3.75,4470,8088,2.0,0,3,4470,0,2008,0,98004,47.6321,-122.200,2780,8964
5100403806,467000.0,3,2.50,1425,1179,3.0,0,3,1425,0,2008,0,98125,47.6963,-122.318,1285,1253
844000965,224000.0,3,1.75,1500,11968,1.0,0,3,1500,0,2014,0,98010,47.3095,-122.002,1320,11303
7852140040,507250.0,3,2.50,2270,5536,2.0,0,3,2270,0,2003,0,98065,47.5389,-121.881,2270,5731
9834201367,429000.0,3,2.00,1490,1126,3.0,0,3,1490,0,2014,0,98144,47.5699,-122.288,1400,1230
3448900210,610685.0,4,2.50,2520,6023,2.0,0,3,2520,0,2014,0,98056,47.5137,-122.167,2520,6023
7936000429,1007500.0,4,3.50,3510,7200,2.0,0,3,2600,910,2009,0,98136,47.5537,-122.398,2050,6200
2997800021,475000.0,3,2.50,1310,1294,2.0,0,3,1180,130,2008,0,98116,47.5773,-122.409,1330,1265
263000018,360000.0,3,2.50,1530,1131,3.0,0,3,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
6600060120,400000.0,4,2.50,2310,5813,2.0,0,3,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
1523300141,402101.0,2,0.75,1020,1350,2.0,0,3,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
291310100,400000.0,3,2.50,1600,2388,2.0,0,3,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
1523300157,325000.0,2,0.75,1020,1076,2.0,0,3,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [48]:
print(pd.Categorical(new_df.T.iloc[0]).unique(),"\n")

[221900.0, 538000.0, 180000.0, 604000.0, 510000.0, ..., 541800.0, 1537000.0, 610685.0, 1007500.0, 402101.0]
Length: 4028
Categories (4028, float64): [221900.0, 538000.0, 180000.0, 604000.0, ..., 1537000.0, 610685.0, 1007500.0, 402101.0]